@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #050a30;
    color: #f4f6fc;
}

h1 {
    color: #9368b7;
    
}

strong {
    color: #f0d3f7;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.apresentacao__conteudo {
    width: 658px;
}

.apresentacao__conteudo__ola {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

.apresentacao__conteudo__nome {
    font-family: "Montserrat", sans-serif;
    font-size: 90px;
    font-weight: 700;
}

.apresentacao__conteudo__curso {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
}

.apresentacao__conteudo__texto {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__links {
    background-color: #9368b7;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color:black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.apresentacao__conteudo__titulo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}